<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cdu.chen.mapper.gameMapper">
    <select id="getGames" parameterType="int" resultMap="gameMap">
        select * from Game where userId=#{id}
    </select>
    <resultMap id="gameMap" type="Game">
        <id property="gameId" column="gameId"/>
        <result column="gameName" property="gameName"/>
        <result property="userId" column="userId"/>
    </resultMap>
</mapper>